{% extends "base.html"%} {% block content%}
<div class="d-flex justify-content-center container py-5">
  <div class="col-sm-6">
    <h1>Login</h1> 
    <form method="POST">
        {%for message in messages%}
        <p style="color: red;"id="messages">{{message}}</p>
        {%endfor%}    
        {%csrf_token%}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">UserName</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <div class="mt-4">
      <div class="d-flex justify-content-center links">
        Create a new account
        <a href="/register/">Register</a>
      </div>
    </div>
  </div>
  </div>
</div>
{%endblock%}
